/*

 CSS code for Navigation Bar

 */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.liLeft {
    float: left;
}

.liRight {
    float: right;
}

li p {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    margin: 0;
}

li p:hover:not(.active) {
    background-color: #111;
}

li.active p {
    background-color: blue;
}